body {
    background-color: lightcyan;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  h1 {
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
  }
  footer{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  header{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
  }